{% extends 'base/base.html' %} {% block content %} {% include "base/navbar.html" %}
<div class="">
    <div class="container-md">
        <div class="">
            <h1>스터디룸 목록</h1>
            <a class="btn btn-outline-dark" href="{% url 'studyroomMake' %}">스터디룸 만들기</a>
            <!-- <a class="btn btn-outline-dark" id="jstb" data-bs-toggle="button">참여한 스터디룸 숨기기</a> -->
            <a href="btn btn-outline-dark"></a>
        </div>
        <div class="row">
            {% for studyroom in myStudyrooms %}
            <div class="col-md-6 col-lg-4 col-xxl-3 joined-class-room">
                <div class="card" style="width: 288px; margin: 16px">
                    <div class="card-body">
                        <h5 class="card-title">{{ studyroom.studyroom_name }} <span class="badge bg-secondary">참가중</span></h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ studyroom.users.count}}명 참가중</h6>
                        <p class="card-text">{{ studyroom.studyroom_classification }}</p>
                        <a href="{% url 'studyroom' studyroom.pk %}" class="btn btn-outline-dark">참여하기</a>
                    </div>
                </div>
            </div>
            {% endfor %} {% for studyroom in studyrooms %}
            <div class="col-md-6 col-lg-4 col-xxl-3">
                <div class="card" style="width: 18rem; margin: 16px">
                    <div class="card-body">
                        <h5 class="card-title">{{ studyroom.studyroom_name }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ studyroom.users.count}}명 참가중</h6>
                        <p class="card-text">{{ studyroom.studyroom_classification }}</p>
                        <a href="{% url 'studyroom' studyroom.pk %}" class="btn btn-outline-dark">참여하기</a>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="row">
                <div class="btn-toolbar col" role="toolbar">
                    <div class="btn-group">
                        {% for page in pages %} {% if currentPage == page %}
                        <a href="{% url 'studyroomJoin' %}?page={{ page }}" class="btn btn-outline-dark active">{{page}}</a>
                        {% else %}
                        <a href="{% url 'studyroomJoin' %}?page={{ page }}" class="btn btn-outline-dark">{{page}}</a>
                        {% endif %} {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
    </div>
</div>

<!-- <script>
    joinedStudyrooms = document.getElementsByClassName("joined-class-room");
    if (true) {
        joinedStudyrooms.forEach((joinedStudyroom) => {
            joinedStudyroom.style.display = "none";
        });
    } else {
        joinedStudyrooms.forEach((joinedStudyroom) => {
            joinedStudyroom.style.display = "block";
        });
    }
</script> -->
