{% extends 'mypage/base.html' %}
{% block mypage %}
  <div class="studyroom-module">
    <h2>비밀번호 변경</h2>
    <form action="{% url 'myPassword' %}" method="POST">
      {% csrf_token %}
      <div class="mb-3">
        <label class="form-label" for="l-cp">현재 비밀번호:</label>
        <input class="form-control" name="old_password" type="password" id="l-cp">
      </div>
      <div class="mb-3">
        <label class="form-label" for="l-np">새 비밀번호:</label>
        <input class="form-control" name="new_password" type="password" id="l-np">
      </div>
      <div class="mb-3">
        <label class="form-label" for="l-npr">새 비밀번호 반복:</label>
        <input class="form-control" name="confirm_new_password" type="password" id="l-npr">
      </div>
      <div class="mb-3">
        <input class="btn btn-dark" type="submit" value="확인" id="">
      </div>
    </form>
  </div>

{% endblock %}