{% extends 'studyroom/base.html' %}
{% block studyroom %}
  <div class="studyroom-module">
    <h2>{{ studyroomName }}
      -
      {{ forum.name }}</h2>
    <div id="forum-menu" class="mb-2">
      <a class="btn btn-outline-dark float-end" href="{% url 'createThread' forum.pk %}">글쓰기</a>
      <div class="btn-group">
        {% for forum in forums %}
          <a class="btn btn-dark" href="">{{ forum.name }}</a>
        {% endfor %}
      </div>
    </div>

    <div id="thread-list" class="p-1">
      {% for thread in threads %}
        <div class="row p-2">
          <a class="border-bottom overflow-hidden" href="{% url 'thread' thread.pk %}">
            <div class="float-end">{{ thread.author }}
              |
              {{ thread.last_update }}</div>
            <h3>{{ thread.title }}</h3>
          </a>
        </div>
      {% endfor %}
      <div id="page" class="btn-group"></div>
    </div>

    <div class="row">
      <div class="btn-toolbar col" role="toolbar">
        <div class="btn-group">
          {% for page in pages %}
            {% if currentPage == page %}
              <a href="{% url 'forum' forum.id %}?page={{ page }}" class="btn btn-outline-dark active">{{page}}</a>
            {% else %}
              <a href="{% url 'forum' forum.id %}?page={{ page }}" class="btn btn-outline-dark">{{page}}</a>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="mt-8 flex justify-center">
      {%if page_posts.has_previous%}
        <a href="?page={{page_posts.previous_page_number}}" class="pagination__block">이전</a>
        {%endif%}
        {%for i in page_posts.paginator.page_range%}
          <a class="pagination__block" href="?page={{i}}">{{i}}</a>
          {%endfor%}
          {%if page_posts.has_next%}
            <a href="?page={{page_posts.next_page_number}}" class="pagination__block">다음</a>
            {%endif%}
          </div>
        </div>
      {% endblock %}
